@use "./styles/variables" as *;

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-primary;

  main {
    flex: 1;
    margin-top: 64px; // Height of header
    min-height: calc(100vh - 64px);
    overflow-y: auto;
  }
}
